<hr class="layui-bg-gray">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newpassword" lay-verify="newpassword" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="confirmnewpassword" lay-verify="confirmnewpassword" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div style="text-align: right;">
                    <button class="layui-btn" lay-submit lay-filter="changepassword">确认修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    form.render();
    // 表单验证
    form.verify({
	newpassword: [
		/^[\S]{6,}$/,
		'密码至少6位，且不能出现空格'
	],
	confirmnewpassword: [
		/^[\S]{6,}$/,
		'密码至少6位，且不能出现空格'
	]
	});

	// 提交表单
    form.on('submit(changepassword)', function(data){
        var index = layer.load(2,{shade:0.3});
        if(data.field['newpassword'] != data.field['confirmnewpassword']){
            layer.close(index);
            layer.msg('两次输入的密码不同！',{icon:2});
            return false;
        }
        else{
            $.ajax({
			type: "POST",
			url: "{% url 'changepassword' %}",
			data: data.field,
            success:function (data) {
			    var result = data['result'];
                if (result == 'success'){
                    layer.close(index);
                    layer.msg('密码修改成功！',{icon:1,time: 3000}, function(){
                        location.reload();
                    });
                }
                else {
                    layer.close(index);
                    layer.msg('密码修改失败！请联系管理员',{icon:2});
                }
            }
		    });
        }
        return false;
    });
</script>