<hr class="layui-bg-gray">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <form class="layui-form layui-form-pane" action="" lay-filter="table">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" disabled class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">状态</label>
                    <div class="layui-input-inline">
                        <select name="status" lay-verify="required">
                            <option value="">请选择一个状态</option>
                            <option value="城西片区">城西片区</option>
                            <option value="城东片区">城东片区</option>
                            <option value="城南片区">城南片区</option>
                            <option value="高新片区">高新片区</option>
                            <option value="游仙片区">游仙片区</option>
                            <option value="科创园片区">科创园片区</option>
                            <option value="库存中">库存中</option>
                            <option value="待返修">待返修</option>
                            <option value="返修中">返修中</option>
                            <option value="已遗失">已遗失</option>
                            <option value="已损坏">已损坏</option>
                            <option value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">领用人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="people" lay-verify="required|people" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">POS机型号</label>
                    <div class="layui-input-inline">
                        <select name="POS_Model" lay-verify="required">
                            <option value="">请选择一个型号</option>
                            <option value="一代">一代</option>
                            <option value="二代">二代</option>
                            <option value="三代">三代</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">POS机ID</label>
                    <div class="layui-input-inline">
                        <input type="text" name="POS_ID" lay-verify="required|POS_ID" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">POS机SN号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="POS_SN" lay-verify="required|POS_SN" autocomplete="off" class="layui-input">
                    </div>
                </div>
				<div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">POS机备用电池</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="POS_Battery" value="True" title="有" checked>
                        <input type="radio" name="POS_Battery" value="False" title="无">
                    </div>
                </div>
				<div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">POS机充电器</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="POS_Charger" value="True" title="有" checked>
                        <input type="radio" name="POS_Charger" value="False" title="无">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">TF卡</label>
                        <input type="radio" name="TF" value="True" title="有" checked>
                        <input type="radio" name="TF" value="False" title="无">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">打印机</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="printer" value="True" title="有" checked>
                        <input type="radio" name="printer" value="False" title="无">
                    </div>
                </div>
				<div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">打印机充电器</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="printer_Charger" value="True" title="有" checked>
                        <input type="radio" name="printer_Charger" value="False" title="无">
                    </div>
                </div>
				<div class="layui-form-item">
                    <label class="layui-form-label" style="width:150px">备注</label>
                    <div class="layui-input-inline">
                        <textarea name="remark" placeholder="若无备注信息则不填写" class="layui-textarea"></textarea>
                    </div>
                </div>
                <hr class="layui-bg-gray">
                <div style="text-align: right;">
                    <button class="layui-btn" lay-submit lay-filter="confirmeditpos">确认修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    form.render();

    <!--初始赋值-->
    form.val("table", {
    "id": "{{ data.id }}",
    "status": "{{ data.status }}",
    "people": "{{ data.people }}",
    "POS_Model": "{{ data.POS_Model }}",
    "POS_ID": "{{ data.POS_ID }}",
    "POS_SN": "{{ data.POS_SN }}",
    "POS_Battery": "{{ data.POS_Battery }}",
    "POS_Charger": "{{ data.POS_Charger }}",
    "TF": "{{ data.TF }}",
    "printer": "{{ data.printer }}",
    "printer_Charger": "{{ data.printer_Charger }}",
    "remark": "{{ data.remark }}",
    "changeTime": "{{ data.changeTime }}"
    });

    form.on('submit(confirmeditpos)', function(data){
        var index = layer.load(2,{shade:0.3});
        $.ajax({
			type: "POST",
			url: "{% url 'editpos' %}",
			data: data.field,
            success:function (data) {
			    var result = data['result'];
                if (result == 'success'){
                    layer.close(index);
                    layer.msg('修改成功！',{icon:1,time: 3000}, function(){
                        location.reload();
                    });
                }
                else {
                    layer.close(index);
                    layer.msg('修改失败！请检查数据格式！',{icon:2});
                }
            }
		});
        return false;
    });

    form.verify({
        POS_ID: function (value, item) { //value：表单的值、item：表单的DOM对象
            if(value.length<15){
                return 'POS机ID至少有15位！';
            }
        },
        people: function (value, item) { //value：表单的值、item：表单的DOM对象
            var re = new RegExp("^[\u4e00-\u9fa5]+$");
            if (!re.test(value)) {
                return "请输入汉字！";
            }
        }
    });
</script>